################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StacksChallenge/.vs/StacksChallenge/v15/Server/sqlite3
